twins/node-red/flows.json
[
    {
        "id": "d0364853.850dc8",
        "type": "tab",
        "label": "Rules",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8cc74f9c.58e0d",
        "type": "mqtt-broker",
        "z": "",
        "name": "twins",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b8f210d9.a032a",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "346da1f2.c283ae",
        "type": "mqtt-broker",
        "z": "",
        "name": "measurements",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "24bcd582.a9df2a",
        "type": "mqtt-broker",
        "z": "",
        "name": "notifs",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "20439462.058d4c",
        "type": "inject",
        "z": "d0364853.850dc8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "4",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "80c381c0.08ba"
            ]
        ]
    },
    {
        "id": "5b97f2bf.75ca5c",
        "type": "debug",
        "z": "d0364853.850dc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 330,
        "y": 40,
        "wires": []
    },
    {
        "id": "abf34e3.cc204b",
        "type": "mqtt out",
        "z": "d0364853.850dc8",
        "name": "measurements",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "346da1f2.c283ae",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "55b82409.cbdd5c",
        "type": "mqtt in",
        "z": "d0364853.850dc8",
        "name": "notifs",
        "topic": "channels/9306a46d-6a06-4c9f-b2bb-5822051632c0/messages/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "24bcd582.a9df2a",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "5b97f2bf.75ca5c"
            ]
        ]
    },
    {
        "id": "80c381c0.08ba",
        "type": "change",
        "z": "d0364853.850dc8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "channels/f2502f65-ff02-4e43-9628-3acc6980a92d/messages/",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "347781c2.e4264e"
            ]
        ]
    },
    {
        "id": "347781c2.e4264e",
        "type": "function",
        "z": "d0364853.850dc8",
        "name": "measurements",
        "func": "var magnitudes = [\"temperature\", \"humidity\", \"pressure\"]\n\nvar msgs = []\nfor (var i = 0; i < magnitudes.length; i++) {\n  var payload = `[{\"n\":\"${magnitudes[i]}\",\"t\":${msg.payload},\"v\":${Math.random()*10}}]`;\n  msgs.push({ payload: payload, topic: msg.topic + magnitudes[i]})\n} \n\nreturn msgs;",
        "outputs": 3,
        "noerr": 0,
        "x": 340,
        "y": 460,
        "wires": [
            [
                "fc139091.5381e",
                "abf34e3.cc204b"
            ],
            [
                "fc139091.5381e",
                "abf34e3.cc204b"
            ],
            [
                "fc139091.5381e",
                "abf34e3.cc204b"
            ]
        ]
    },
    {
        "id": "fc139091.5381e",
        "type": "debug",
        "z": "d0364853.850dc8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "8a289485.0f9b18",
        "type": "function",
        "z": "d0364853.850dc8",
        "name": "batch",
        "func": "var magnitudes = [\"temperature\", \"humidity\"]\n\nvar measurements = '[ '\nfor (var i = 0; i < magnitudes.length; i++) {\n  var payload = `{\"n\":\"${magnitudes[i]}\",\"t\":${msg.payload},\"v\":${Math.random()*10}}`;\n  measurements += payload + ', '\n} \nmeasurements += `{\"n\":\"${\"pressure\"}\",\"t\":${msg.payload},\"v\":${Math.random()*10}}` + ']'\n\nmsg.payload = measurements\nmsg.topic = msg.topic + '/batch'\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "43e08c6c.7385f4"
            ]
        ]
    },
    {
        "id": "43e08c6c.7385f4",
        "type": "debug",
        "z": "d0364853.850dc8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 240,
        "wires": []
    }
]